
    <div class="row mb-3">
        <div class="col">
            <strong style="color: rgb(65, 65, 255)">{{pageId == "new"?"New Order":"Edit Order" }}</strong>
        </div>
    </div>
    <div class="row mb-2 gx-0">
    
        <div class="col-2 ">
            <span class="" >Order Date: </span>
        </div>
        <div class="col-3 ">
            <span class="align-bottom" >{{datePipeString  | date:'shortDate' }}</span>
        </div>
    </div>
    
    <div class="row mb-2 gx-0">
        <div class="col-2">
            <span class="align-middle">Customer: </span>
        </div>
        <div class="col-3 ">
            <style>.dropdown-toggle::after {
                margin:0;
                position: absolute;
                top:50%;
                right: 8px;
            }</style>
            <div ngbDropdown class="d-inline-block form-control " style="padding:0; border:none;">
                <button class="btn btn-outline-primary"  style="width: 100%;"  id="dropdownBasic1" ngbDropdownToggle >{{selectedCustomer?.name || "Select Customer"}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let customer of customers;" >
                        <button ngbDropdownItem id="option" on-click="selectedCustomer=customer">{{customer.name}}</button>
                      </div>
                </div>
              </div>
        </div>
       
    </div>
    <div class="row mb-2 gx-0">
        <div class="col-2">
            <span class="align-middle">Status: </span>
        </div>
        <div class="col-sm-3 ">
            <div ngbDropdown class="d-inline-block form-control "  style="padding:0; border:none;">
                <button class="btn btn-outline-primary " style="width: 100%;" id="dropdownBasic1" ngbDropdownToggle >{{selectedStatus?.status  || "Select Status"}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let status of statuses;" >
                            <button ngbDropdownItem id="option" on-click="selectedStatus=status">{{status.status}}</button>
                      </div>
              </div>
        </div>
       
    </div>
    <div class="row mb-2 gx-0">
        <div class="col-2">
            
            <span class="align-middle">Total Cost:</span>
        </div>
        <div class="col-2">
            <span class="align-middle">{{totalCost}}$</span>
            
        </div>
    </div>
    <hr>
    <div class="row mb-3 gx-0">
        <div class="col-2 align-middle">
            
            <span class="align-middle">Add Product:</span>
        </div>
        <div class="col-2 ">
            
            <div ngbDropdown class="d-inline-block form-control" style="padding:0; border:none;">
               
                <button class="btn btn-outline-primary" id="dropdownBasic1"  style="width: 100%;" ngbDropdownToggle >{{selectedProduct?.name || "Select Product"}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <div *ngFor="let product of products;" >
                        <button ngbDropdownItem id="option" on-click="selectedProduct=product">{{product.name}}</button>
                   
                      </div>
                </div>
              </div>
        </div>
        <div class="col-2 gx-5">
            <span class="align-middle">Quantity:</span>
        </div>
        <div class="col-2">
                <input 
                type="number" 
                id="amount" 
                class="form-control"
                [value]="0"
                name="qty"
                #qty
               >
        </div>
        <div class="col-3 text-end">
            <button class="btn btn-primary " type="submit" routerLinkActive="active" (click)="onAddProduct()" >Add Products To Order</button>
        </div>
    </div>
    <div  *ngIf="selectedProducts.length == 0; else elseBlock" class="row mb-2 gx-0">
       
    </div>
    <ng-template #elseBlock >
        <div class="card"> 
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col"  *ngFor="let header of productTableHeaders">{{header}}</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr *ngFor="let product of selectedProducts">
                            <td ><a [routerLink]="['/products/view-product', product.id]">{{product.id}}</a></td>
                            <td>{{product.name}}</td>
                            <td>{{product.category.category}}</td>
                            <td>{{product.size.size}}</td>
                            <td>{{product.quantity}}</td>
                            <td>{{product.price}}$</td>
                            <td><a class="myClickableThingy" (click)="onDeleteProduct(product.id)">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </ng-template>
    <div class="row  mt-3 gx-0">
        <div class="col-2">
            <span >Description: </span>
        </div>
        <div class="col-4">
            <div class="input-group mb-3">
                <textarea class="form-control" name="description" placeholder="Type here"aria-label="With textarea" #description>{{pageId == 'new' ? '' : order?.description}}</textarea> </div>
        </div>
    </div>
    <div class="row  mb-3 ">
        <div class="col-10  text-end ">
           
        </div>    
         <div class="col-1   text-end">
            <button class="btn btn-primary" type="submit" routerLinkActive="active"  (click)="onSave(qty.value, description.value)">Save</button>
       
        </div>
        <div class="col-1   text-end">
            <button class="btn btn-primary " type="submit" routerLinkActive="active" routerLink="/orders"  >Cancel</button>
       
        </div>
   
      
    </div>
       