
    <div class="row mb-2">
        <div class="col">
            <strong class="align-bottom" style="color: rgb(65, 65, 255)">Products</strong>
        </div>
        <div class="col text-end">
            <button class="btn btn-primary" routerLinkActive="active" [routerLink]="['new-product', 'new']" >New Product</button>
        </div>
    </div>
    <div class="card"> 
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col"  *ngFor="let header of ProductTableHeaders">{{header}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of Products">
                <td ><a [routerLink]="['view-product', product.id]">{{product.id}}</a></td>
                <td>{{product.name}}</td>
                <td>{{product.category.category}}</td>
                <td>{{product.size.size}}</td>
                <td>{{product.quantity}}</td>
                <td>{{product.price}}</td>
                <td><a class="myClickableThingy" (click)="onDelete(product.id)">Delete</a></td>
              </tr>
            </tbody>
          </table>
    </div>