
<div class="row mb-3">
    <div class="col">
        <strong style="color: rgb(65, 65, 255)">New Customer</strong>
    </div>
</div>
<div class="row mb-2 gx-0">
    <div class="col-2">
        <p class="align-bottom" >Created Date: </p>
    </div>
    <div class="col-3">
        <p class="align-bottom" >{{datePipeString}}</p>
    </div>
</div>
<form >
    <div class="row mb-2 gx-0">
        <div class="col-2" >
            <span class="align-middle">Customer Name:</span>
        </div>
        <div class="col-3">
            <div class="form-group mb-3">
                <input  id="customerName" #customerName (change)="log(customerName.value)" type="text" name="customerName" class="form-control" placeholder="Name" aria-label="Username" >
            </div>
        </div>
    </div>
    <div class="row  mb-3 gx-0">
        <div class="col-2">
            <span >Address: </span>
        </div>
        <div class="col-4">
            <div class="form-group mb-3">
                <textarea id="address" class="form-control" name="description" placeholder="Type here"aria-label="With textarea" #address></textarea> 
            </div>
        </div>
    </div>
    <div class="row  mb-3 ">
        <div class="col-10  text-end ">
            <button class="btn btn-primary" type="submit" routerLinkActive="active" (click)="onSave(customerName.value, address.value)">Save</button>
        
        </div>
        <div class="col-1   text-end">
            <button class="btn btn-primary " type="submit" routerLinkActive="active" routerLink="/products"  >Cancel</button>
        
        </div>
    </div>
</form>